/* typo */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Underdog&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(61, 3, 58);
    color: #faf8fa;
    font-family: 'Underdog', Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}

h1 {
    font-size: 2.3rem;
    text-align: center;
    margin: 10px;
}

h2,
h3 {
    font-size: 1.6rem;
    text-align: center;
    margin: 10px;
}

p {
    padding: 5px;
}

main p {
    padding: 0;
}

main dt,
main dd {
    padding: 0 20px;
}

p a {
    color: #a8a8a8;
}

p a:hover {
    color: aquamarine
}

nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background-color: #222;
    cursor: pointer;
}

.nav-logo {
    font-size: 1.5em;
    color: #f3f3f3;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    color: #f3f3f3;
    font-family: monospace;
    font-size: 1.1rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav a:hover {
    color: aquamarine;
}

/* mediaquerys */

.nav-toggle {
    display: none;
    font-size: 2rem;
    color: #f3f3f3;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #222;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 10px 0;
    }

    .nav-menu.show {
        display: flex;
    }

    nav li {
        margin: 10px 0;
        text-align: center;
    }

    nav {
        flex-wrap: wrap;
        position: relative;
    }
}

main {
    min-height: 500px;
    width: 100%;
}

/**** CARDS ****/

.card-grid {
    display: grid;
    /* 3 columnas */
    /* 1fr, 1fr, 1fr */
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;

}

.card {
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    border-radius: 10px;
    color: #222;
    overflow: hidden;
}

.card:hover {
    margin-top: 5px;
}

.card-img-top {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 15px;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: aquamarine;
    color: rgb(53, 53, 53);
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Underdog', Arial, Helvetica, sans-serif;
}

.btn:hover {
    background-color: rgb(34, 34, 34);
    color: #ddd;
}


@media (max-width: 768px) {
    .card-grid {
        grid-template-columns: 1fr;
    }
}

/******* footer *******/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background-color: #252525;
    margin-top: 30px;
}

.footer-column {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-column:first-child {
    margin-right: 20px;

}

.footer-logo {
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input,
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

form button {
    background-color: aquamarine;
    color: rgb(59, 59, 59);
    padding: 10px 15px;
    font-family: 'Underdog', Arial, Helvetica, sans-serif;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    border-radius: 10px;
}

form button a:hover {
    background-color: rgb(56, 56, 56);
    color: whitesmoke;
}


.footer-copyright {
    width: 100%;
    text-align: center;
}

/****** BADGES ******/
.badge {
    display: inline-block;
    padding: 0.50em 1em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    margin-bottom: 10px;
}

.badge-manga {
    color: #303030;
    background-color: rgb(228, 199, 36);
}

.badge-anime {
    color: #d6dde4;
    background-color: #8d0e7c;
}

/* boton go top del footer */

.up-to-top {

    color: white;
    font-family: 'Underdog';
    font-size: 1.3rem;
    text-decoration: underline;
}

.up-to-top:hover {
    color: aquamarine;
}

/* carrito */
#cartCount {
    position: absolute;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 16px;
    cursor: pointer;
}

.container {
    background-color: #faf8fa;
    color: #222;
    margin-bottom: 20px;
    font-family: 'Underdog', Arial, Helvetica, sans-serif;
}